<h1>Listing Dogs</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody id="dogs">
    <%= for dog <- @dogs_collection do %>
      <tr id="dog-<%= dog.name %>">
        <td>
          <span><%= live_redirect dog.name, to: Routes.dogs_show_path(@socket, :show, dog) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
